<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>   
    <client>
      <endpoint address="http://localhost:8733/WcfAnimalServiceLibrary/" binding="basicHttpBinding" contract="WcfAnimalServiceLibrary.IAnimalSvcLibrary" />
      <endpoint address="net.tcp://localhost:8744/WcfAnimalServiceLibrary/" binding="netTcpBinding" contract="WcfAnimalServiceLibrary.IAnimalSvcPrivateLibrary" />   
    </client>
  </system.serviceModel>
</configuration>